.contact__container {
    grid-template-columns: 5fr 7fr;
    align-items: flex-start;
}

.contact__item {
    display: flex;
    align-items: flex-start;
    column-gap: 1.25rem;
}

.contact__item:not(:last-child) {
    margin-bottom: 2.5rem;
}

.contact__icon {
    color: var(--first-color);
    font-size: var(--large-font-size);
    line-height: 1.8;
}

.contact__title {
    font-size: var(--larger-font-size);
}

.contact__data {
    font-size: var(--large-font-size);
}

.form__group{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.25rem;
}

.input__control {
    color: var(--title-color);
    background-color: var(--first-color-light);
    border: 1px solid var(--first-color-light);
    padding: 0.9rem 0.75rem;
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 1.25rem;
}

.textarea {
    height: 140px;
    resize: none;
}

.contact__btn {
    float: right;
}

.contact__btn:hover {
    background-color: var(--first-color-dark);
    cursor: pointer;
}